.promo {
  background: $color-promo;
  border-radius: $radius;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;

  @include media-mobile {
    display: none;
  }
}

.h1 {
  @include font($size: 3rem);
}
